.side-ber
  .side-ber__user-name
    .side-ber__user-name__side-box
      .user-name masa
      .icon-display 
        = link_to " # ", class: "icon-display__btn icon-display__btn--edit" do
          = icon('far', 'edit', class: "icon-display__btn--icon")
        = link_to " # ", class: "icon-display__btn icon-display__btn--cog " do
          = icon('fa', 'cog',class: "icon-display__btn--icon")
  .side-ber__group-list
    .side-ber__group-list__messages
      .side-ber__group-list__messages__group-name techcamp
      .side-ber__group-list__messages__message
    .side-ber__group-list__messages
      .side-ber__group-list__messages__group-name 
      .side-ber__group-list__messages__message
    .side-ber__group-list__messages
      .side-ber__group-list__messages__group-name 
      .side-ber__group-list__messages__message